<h1>Periodic Table</h1>

<br>

<%= link_to 'New Post', new_post_path %>

<br>
<!-- Periodic Table From Here -->

<div class='container clearfix' id="group-number">
  <% @numbers.each do |a| %>
    <% if Post.exists?(:position => a)%>
      <span class='group'><%= link_to a, Post.find_by(position: a)%></span>
    <% else %>
      <span class='group'><%= link_to a, '#' %></span>
    <% end %>
  <% end %>
</div>

<div class="container clearfix" id='line1'>
    <% if Post.exists?(:position => @line1.first)%>
      <span class='grid1'><%= link_to @line1.first, Post.find_by(position: @line1.first)%></span>
    <% else %>
      <span class='grid1'><%= link_to @line1.first, '#' %>
    <% end %>
    <% 16.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>
    <% if Post.exists?(:position => @line1.second)%>
      <span class='grid1'><%= link_to @line1.second, Post.find_by(position: @line1.second)%></span>
    <% else %>
      <span class='grid1'><%= link_to @line1.second, '#' %>
    <% end %>
</div>

<div class="container clearfix" id='line2'>
     <% @line2_1.each do |a| %>
      <% if Post.exists?(:position => a)%>
        <span class='grid1'><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1'><%= link_to a, '#' %></span>
      <% end %>
    <% end %>

    <% 10.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>

    <% @line2_2.each do |a| %>
      <% if Post.exists?(:position => a)%>
        <span class='grid1'><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1'><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line3'>
    <% @line3_1.each do |a| %>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>

    <% 10.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>

    <% @line3_2.each do |a| %>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line4'>
    <% @line4.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line5'>
    <% @line5.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line6'>
    <% @line6.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line7'>
    <% @line7.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line8'>
    <% @line8.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

<div class="container clearfix" id='line9'>
    <% @line9.each do |a|%>
      <% if Post.exists?(:position => a)%>
        <span class='grid1 '><%= link_to a, Post.find_by(position: a)%></span>
      <% else %>
        <span class='grid1 '><%= link_to a, '#' %></span>
      <% end %>
    <% end %>
</div>

