<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% if Post.exists? %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.subtitle %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
  <% if Post.exists?(:position => "a") %>
    <%= link_to 'a', Post.find_by(position: 'a') %>
  <% end %>
  <% if Post.exists?(:position => "b")  %>
    <%= link_to 'b', Post.find_by(position: 'b') %>
  <% end %>
  <p>D</p>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<br>
<!-- Periodic Table From Here -->

<div class='container clearfix' id="group-number">
  <% @numbers.each do |a| %>
    <span class='group'><%= link_to a, '#'%></span>
  <% end %>
</div>

<div class="container clearfix" id='line1'>
    <span class='grid1 first'><%= link_to @line1.first, '#'%></span>
    <% 16.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>
    <span class='grid1'><%= link_to @line1.second, '#'%></span>
</div>

<div class="container clearfix" id='line2'>
    <span class='grid1 first'><%= link_to @line2_1.first, '#'%></span>
    <span class='grid1'><%= link_to @line2_1.second, '#'%></span>
    <% 10.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>
    <% @line2_2.each do |a| %>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line3'>
    <span class='grid1 first'><%= link_to @line3_1.first, '#'%></span>
    <span class='grid1'><%= link_to @line3_1.second, '#'%></span>
    <% 10.times do |a|%>
      <span class='grid-transparent'></span>
    <% end %>
    <% @line3_2.each do |a| %>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line4'>
    <% @line4.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line5'>
    <% @line5.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line6'>
    <% @line6.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line7'>
    <% @line7.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line8'>
    <% @line8.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

<div class="container clearfix" id='line9'>
    <% @line9.each do |a|%>
      <span class='grid1'><%= link_to a, '#'%></span>
    <% end %>
</div>

