<p id="notice"><%= notice %></p>

<p>
  <strong>All:</strong>
  <% @post.articles.each do |a| %>
    <span><%= a.title %></span>
    <span><%= a.subtitle%></span>
    <span><%= a.content %></span>
  <% end %>
</p>

<section>
  <%= form_for([@post, @article]) do |f|%>
      <div class="field">
        <%= f.text_field :title%>
      </div>
      <div class="field">
        <%= f.text_field :subtitle%>
      </div>
      <div class="field">
        <%= f.text_field :content, placeholder: "content" %>
      </div>
    <%= f.submit "post" %>
  <% end %>

</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
