<p id="notice"><%= notice %></p>

<div style="width: 927px;">
  <% @post.articles.each do |a| %>
    <% if test(a.title)%>
      <p>Upper</p>
    <% else %>
      <p>Lower</p>
    <% end %>
    <tr>
        <td width='100px;'><h1><%= a.title %></h1></td>
        <td style='color:#ccc;vertical-align:middle;'><h3><%= a.subtitle%></h3></td>
    </tr>
    <span><%= simple_format(a.content) %></span>
  <% end %>
</div>

<section>
  <%= form_for([@post, @article]) do |f|%>
      <div class="field">
        <%= f.text_field :title, placeholder: 'title'%>
      </div>
      <div class="field">
        <%= f.text_field :subtitle, placeholder: 'subtitle'%>
      </div>
      <div class="field">
        <%= f.text_area :content, placeholder: "content", :size =>'60x10' %>
      </div>
      <div class='field'>
        <%= f.text_field :pass, placeholder: 'pass' %>
      </div>
    <%= f.submit "post" %>
  <% end %>

</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
